{% extends 'base.html' %}
{% load static %}
{% load custom-tags %}

<!--<a href="https://www.flaticon.com/free-icons/whatsapp" title="whatsapp icons">Whatsapp icons created by Freepik - Flaticon</a>-->
{% block css %}
<link rel="stylesheet" href="{% static 'styles/mystyle/account.css' %}">
<link rel="stylesheet" href="{% static 'styles/mystyle/cropper.css' %}">
<link rel="stylesheet" href="{% static 'styles/mystyle/productModal.css' %}">
<link rel="stylesheet" href="{% static 'styles/pages/amazon.css' %}">
<link rel="stylesheet" href="{% static 'styles/messenger/messenger.css' %}">

{% endblock %}

{%block content%}
    <div class="profile-picture-space">
        <div class="profile-picture">
            {% if target_user.profile_picture %}
            <img src={{target_user.profile_picture.url}} alt="{{ target_user.username }}'s Profile Picture">
            {% else %}
                <i class="fa-solid fa-camera fa-2xl"></i>
                <div class="click-picture">Click to add a picture</div>
            {% endif %}
        </div>
        <h3>{{ target_user.username }}</h3>
        
        {% if user.is_authenticated %}
        <div class="message-user">
          <a href="https://wa.me/{{target_user.phone}}/?text=I'm%20interested%20in%20your%20products%20on%20your%20website" target="_blank" class="whatsapp-button">
            <img src="{% static 'images/icons/whatsapp.png' %}" alt="WhatsApp Icon" class="whatsapp-icon" width="24" height="24">
            Chat on WhatsApp
          </a>
        </div>
        {% if target_user.username == user.username %}
        <div class="settings js-settings">
            <i class="fa-solid fa-gear fa-2xl" style="color: #787a7d;"></i>
        </div>
        {%else%}
        
        <div class="follow">
            {% if is_following %}
            <button class="follow-button unfollow" data-fuserid="{{ target_user.pk }}">Unfollow</button>
            {% else %}
            <button class="follow-button" data-fuserid="{{ target_user.pk }}">Follow</button>
            {% endif %}
        </div>
        {%endif%}
        {%endif%}
    </div>
    <div  class="overlay"></div>
    <div class="icons">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-tiktok"></i></a>
      <a href=""><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="profile-picture-modal">
      <div class="cl-bt js-close-button"><i class="fa-solid fa-xmark fa-xl" style="color: #f20232;"></i></div>
            <div class="container">
              <div class="image-container">
                <img id="image" />
              </div>
              <div class="preview-container">
                <img id="preview-image" />
              </div>
            </div>
            <label for="fileInput" class="btn-upload">
                <input type="file" id="fileInput" name="fileInput" accept="image/*" hidden>
                <div id="preview" class="preview" >
                    <img src="{% static 'images/icons/upload-icon.png' %}">
                    <p>click to add image</p>
                    <span>choose image from desktop</span>
                </div>
            </label>
            <div class="btns">
              <button id="previewBT" class="hide">Preview</button>
              <button type="button" class="upload-button">Upload</button>
              <a href="" id="download" class="hide">Download</a>
            </div>
    </div>
    <div class="settings-modal side-nav js-settings-modal ">
        <div class="cl-bt js-close-button"><i class="fa-solid fa-xmark fa-xl" style="color: #f20232;"></i></div>
          <ul>
            <li class="param" id="changePassword" data-settings="cpForm" data-message="{{target_user.pk}}">
                    <i class="fa-solid fa-lock"></i>
                    <span class="item" >Change Password</span>
            </li>
            <li class="param" id="profileInfo" data-settings="piForm"data-message="{{target_user.pk}}">
                
                    <i class="fa-solid fa-universal-access"></i>
                    <span class="item"  >Profile Information</span>
             
            </li>
            <li class="param" id="accountInfo" data-settings="aiForm" data-message="{{target_user.pk}}">
                  <i class="fa-regular fa-user"></i>
                  <span class="item" >Account Information</span>
            </li>
            <li class="param" id="followInfo" data-settings="followForm" data-message="{{target_user.pk}}">
                  <i class="fa-solid fa-user-plus"></i>
                  <span class="item" >followers-following</span>
            </li>
          </ul>
        <ul>
          <li id="logOut">
            
                <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                <span class="item" >log out</span>
           
          </li>
        </ul>
        


    </div>
    <div class="profile-sub">
        <div class="sub followers">
            <label for="followers">followers</label>
            <span class="followers-number">{{followers_counts}}</span>
        </div>
        <div class="sub following">
            <label for="following">following</label>
            <span class="following-number">{{followings_counts}}</span>
        </div>
        <div class="sub products-post">
            <label for="products-post">products-post</label>
            <span class="products-post-number">{{products_counts}}</span>
        </div>
    </div>
    <div class="product-modal">
      <div class="cl-bt js-close-button"><i class="fa-solid fa-xmark fa-xl" style="color: #f20232;"></i></div>
        <div class="container">
            <div class="product-modal-image">
              <img id="product-img" />
            </div>
            <div class="product-preview-container">
              <img id="product-preview-image" />
            </div>
        </div>
        <label for="productInput" class="product-upload">
          <input type="file" id="productInput" name="productInput" accept="image/*" hidden>
          <div id="preview" class="product-preview" >
              <img src="{% static 'images/icons/upload-icon.png' %}">
              <p>click to add image</p>
              <span>choose image from desktop</span>
          </div>
        </label>
        <div class="product-dis">
            <label for="productName">
            product name:</label>
            <input type="text" id="productName" name="product_name" placeholder="type the name of the product">
          
          <label for="productPrice">
            product price:</label>
            <input type="number" id="productPrice" name="product_price" placeholder="price in morrocan dirham">
          <label for="productKeyword">
              product keyword:</label>
            <input type="text" id="productKeyword" name="product_keyword" placeholder="'enter'to add 'click'to delete">
            <ul id="keywordList"></ul>
          
          <label for="productDescription">
            product description:</label>
          <textarea name="product_description" id="productDescription" cols="30" rows="20"></textarea>
            
          
        </div>
          
        <div class="btns">
            <button id="previewBT2" class="hide">Preview</button>
            <button type="button" class="create-button">Create</button>
        </div>

    </div>
    <div class="product-view-modal">
      <div class="cl-bt js-close-button"><i class="fa-solid fa-xmark fa-xl" style="color: #f20232;"></i></div>
      <section class="product-section">
      
      <div class="wanted-product">
        
     </div>
      <div class="buttons">
        {% if user.is_authenticated %}
        {% if target_user.username == user.username %}
          <button id="updateBT" class="update-button"><i class="fa-solid fa-edit"></i>update</button>
          <button id="deleteBT" class="delete-button"><i class="fa-solid fa-trash"></i> delete</button>
        {%else%}
          <button id='buyBT' class="buy-button"><i class="fa-solid fa-shopping-cart"></i>buy</button>
        {%endif%}
        {%endif%}
      </div>

    </section>
    </div>
  
    <div class="p-products js-p-products">
      <div class="product ads">
        ads
      </div>
      {% if user.is_authenticated %}
         {% if target_user.username == user.username %}
      <div class="product add-product">
            <i class="fa-solid fa-plus fa-2xl" style="color: #858585;"></i>
      </div>
          {%endif%}
      {%endif%}
    </div>
    <script>
      var srcURL= "{% static ''%}";
      let productsData= JSON.parse("{{productsSERIA|safe|escapejs}}");
      let targetUser=JSON.parse("{{targetSERIA|safe|escapejs}}")[0];
      
      
    </script>
    
<script type="module" src="{% static 'scripts/cropper.js' %}"></script>
<script type="module" src="{% static 'scripts/account.js' %}"></script>
<script type="module" src="{% static 'scripts/messenger.js' %}"></script>

{%endblock%}


