{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'styles/messenger/messenger.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="{% static 'styles/shared/amazon-header.css' %}">
{% endblock %}

{% block navigation %}
<div class="header">
  <div class="side-nav flex">
      {%if user.is_authenticated %}
      <div class="mess-profile-picture">
      <a href="{% url 'account' username=user.username %}">
          {% if user.profile_picture %}
                <img class="mini-profile-picture" src="{{user.profile_picture.url}}">
            {% else %}
                <!-- Default profile picture or a placeholder image -->
                <img class="mini-profile-picture" src="{% static 'images/default_profile_picture.jpg' %}">
            {% endif %} 
      </a>
      <span>{{user.username}}</span>
      </div>
      {% endif %}
    <ul>
      <li class="param" id="changePassword">
              <i class="fa-solid fa-lock"></i>
              <span class="item" >Change Password</span>
      </li>
   
      <li class="param" id="profileInfo">
              <i class="fa-solid fa-universal-access"></i>
              <span class="item"  >Profile Information</span>
      </li>
      <li class="param" id="accountInfo">
            <i class="fa-regular fa-user"></i>
            <span class="item" >Account Information</span>
      </li>
      <li class="param" id="followInfo">
        <i class="fa-solid fa-user-plus"></i>
        <span class="item" >followers-following</span>
      </li>
      
    </ul>
  <ul>
    <li id="logOut">
      
          <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <span class="item" >log out</span>
     
    </li>
  </ul>
  </div>
</div>
      

{% endblock %}
{% block content %}
 <div class="form">
      <div class="change-password basic hide" id="cpForm">
        <form action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ change_password_form.as_p }}
          <button type="submit">Save Changes</button>
        </form>
      </div>
      <div class="profile-info basic hide" id="piForm">
        <form action="{% url 'profile_info' %}" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          {% for field in profile_information_form %}
        <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <span class="error">{{ field.errors.0 }}</span>
            {% endif %}
        </div>
          {% endfor %}
          <button type="submit">Save Changes</button>
        </form>
      </div>
      <div class="account-info basic hide" id="aiForm">
        <form action="{% url 'account_info' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="custom-file-upload">
                {% if user.profile_picture %}
                  <img class="macro-profile-picture" src="{{ user.profile_picture.url }}" alt="Profile Picture">
                {% endif %}
                {{ account_information_form.profile_picture }}
          </div>
          
          {% for field in account_information_form %}
            {% if field.name != 'profile_picture' %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <span class="error">{{ field.errors.0 }}</span>
                    {% endif %}
                </div>
            {% endif %}
           {% endfor %}
          <button type="submit">Save Changes</button>
        </form>
      </div>
      <div class="follow-info basic hide" id="followForm">
        <div class="follow-container">
          
        <ul class="following">
          <li><h3>following</h3></li>
            {% for use in following_list %}
            <li>
            <a href="{% url 'account' username=use.username %}">
            <div class="follow-profile" data-friend="{{use.pk}}">
              <img src="{{use.profile_picture.url}}" class="mini-profile-picture" alt="friend-profile">
              <span>{{use.username}}</span>
            </div>
            </a>
          </li>
            {% endfor %}
          </ul>
         
        <ul class="followers">
         <li><h3>followers</h3></li>
          {% for use in followers_list %}
          <li><a href="{% url 'account' username=use.username %}">
          <div class="follow-profile" data-friend="{{use.pk}}">
            <img src="{{use.profile_picture.url}}" class="mini-profile-picture" alt="friend-profile">
            <span>{{use.username}}</span> 
          </div>
          </a>
        </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    
 </div>
  
      
  


   
  
    
    







<script>
    var srcURL= "{% static ''%}";
    
  
</script>
  
<script type="module" src="{% static 'scripts/messenger.js' %}"></script>
{% endblock %}