.profile-picture-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 15%;
    border:1px solid rgba(18, 10, 0, 0.2);
    border-radius: 20px;
    
}
.icons{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15%;

}
.icons i {
    border-radius: 50%;
    background-color: #f39c12;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.icons a {
    color: #333;
}
.icons a :hover{
    transform: scale(1.5);
    background-color: #f0f0f0;
}
/* settings------------------------------------------------------------*/
.settings{
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 5%;
    cursor: pointer;
    transition: 0,3s;
}
.settings-modal{
    display: none;
    height: 100%;
    width: 110px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(97, 236, 66, 0.3);
    backdrop-filter: blur(5px);
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.5s ease;
    z-index: 2;
}

.cl-bt{
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 0;
}

.settings:hover,.choice:hover {
    transform: scale(1.2); 
}
/* profile-----------------------------------------------------------------------------------*/
.profile-picture{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: beige;
    margin: 30px 15%;
    width: 100px; /* Set the desired width and height for the circular container */
    height: 100px;
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    overflow: hidden; /* Ensure the icon or image stays within the circular boundary */
    border: 2px solid #fff;
    cursor: pointer;
}

.profile-picture-modal,.product-modal{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 2%;
    left: 50%;
    min-height: 500px; /* Set the minimum height to 500 pixels */
    height: auto;
    z-index: 5;
    width: min(50%, 800px);
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 2em 3em;
    border-radius: 0.5em;
    overflow-y: auto;
}
/* product----------------------------------------------------------------*/
.upload-button{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db; /* Border color */
    color: #3498db; /* Text color */
    background-color: #fff; /* Background color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; 
}
.upload-button:hover  {
    background-color: #3498db; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
.upload-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-input{
    position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.btn-upload {
    padding: 15px;
    
  }

.preview {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    background-position: center;
    background-size: cover ;
    width: 100%;
    height: 100%;
    border-radius: 20px;  
    border: 2px dashed cornflowerblue;
    background-color: rgba(176, 255, 222, 0.422);
}
.preview img {
    width: 150px;
    margin-top: 25px;
}
.preview span{
    display: block;
    color: #777;
    font-size: 12px;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.click-picture{
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;

}
.profile-picture:hover .click-picture{
    display: block;
    
}
.profile-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:30px 15%;
    padding: 10px 20px;
    border: 1px solid rgba(18, 10, 2, 0.2);
    border-radius: 5px;
}
.sub{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.p-products{
    width: auto;
    margin:20px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    row-gap: 10px;
}
.product{
    margin-top: 10px;
    height: 300px;
    max-width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: transform 0.3s;

}
.product:hover {
    transform: scale(1.2); 
    cursor: pointer;
}



@media (max-width: 500px) {
    .profile-picture-modal {
      width: fit-content; /* Override width to fit the content when the page is narrower than 500px */
      
    }
}
/* starrrrrrrrrrrrrrrr rattttttttingssssssssssssss*/
.star-rating {
    cursor: pointer;
    transition: color .2s;
    display: flex;
    flex-direction: row-reverse;
}
.star[data-clicked]{
    color: #f39c12;
}
.star[data-clicked]~.star{
    color: #f39c12;
}
.star {
    font-size: 24px;
    color: #ccc;

}
.star:hover{
    scale: 2;
    color: #f39c12;
}
.star:hover ~.star{
    color: #f39c12;
}
.star.active  {
    color: #f39c12; 
}
/* follow ------------------------------------follow------------------*/
.follow-button{
    position: absolute;
    left: 10%;
    top: 35%;
    background-color: #3498db; /* Twitter blue color */
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.unfollow{
    background-color: #e74c3c; /* Red color */
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.unfollow:hover {
    background-color: #c0392b; /* Darker shade on hover */
}
.follow-button:hover{
    background-color: #2980b9;
    color: #ccc;
    transform: scale(1.2); 
    cursor: pointer;
}
/*mesaaaaaaaaaaaaaaaage via whatsapppppppppppppp */
.message-user{
    position: absolute;
    left: 10%;
    bottom: 5%;
    cursor: pointer;
}

.ads {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #b2e31f;
    text-align: center;
  }