
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    border-radius: 7px;
  }
  .container .image-container,
  .container .preview-container {
    width: 100%;
  }
  input[type="file"] {
    display: none;
  }
  img {
    display: block;
    /* Important for cropper js*/
    max-width: 100%;
  }
  .image-container {
    width: 60%;
    margin: 0 auto;
  }
  .options {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  input[type="number"],input[type="text"] {
    padding: 16px 5px;
    border-radius: 0.3em;
    width: 300px;
    border: 2px solid #000000;
  }
  /*product viewwww butonnnnns*/
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Update Button Styles */
  .update-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  /* Delete Button Styles */
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  /* Buy Button Styles */
  .buy-button {
    background-color: #2196F3; /* Blue */
    color: white;
  }
  
  /* Hover effect for all buttons */
  button:hover {
    background-color: #555;
  }
   /*product viewwww butonnnnns*/
  .btns {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .btns button {
    font-size: 1em;
  }
  .btns a {
    border: 2px solid #025bee;
    background-color: #025bee;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
    font-size: 1em;
    border-radius: 0.3em;
  }
  .hide {
    display: none;
  }

