{% load static %}
<!DOCTYPE html>
<html>
  
    <head>
        <title>first attempt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %} 

        {% endblock %}
                  
       {% block fontcss%}
        <!-- Load a font called Roboto from Google Fonts. -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>  
        <link rel="stylesheet" href="{% static 'styles/shared/general.css' %}">
        <!-- Cropper -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.js"></script>
        <script src="https://kit.fontawesome.com/af90ae92c6.js" crossorigin="anonymous"></script>
        
        {%endblock%}
    
        
   </head>
   
    <body>
      {% block navigation %}
      
      {% endblock %}
      {% block content %}
      
      {% endblock %}
       
    </body>
    
</html>