{% extends "base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'styles/pages/checkout/checkout.css' %}">
<link rel="stylesheet" href="{% static 'styles/pages/checkout/checkout-header.css' %}">
{% endblock %}

{% block navigation %}
<div class="checkout-header">
  <div class="header-content">
    <div class="checkout-header-left-section">
      <a href="/">
        <img class="amazon-logo" src='{% static "images/amazon-logo.png" %}'>
        <img class="amazon-mobile-logo" src='{% static "images/amazon-mobile-logo.png" %}'>
      </a>
    </div>

    <div class="checkout-header-middle-section">
      Checkout (<a class="return-to-home-link"
        href="/">{{total_cart_quantity|safe}}</a>)
    </div>

    <div class="checkout-header-right-section">
      <img src='{% static "images/icons/checkout-lock-icon.png" %}'>
    </div>
  </div>
</div>

<div class="main">
  <div class="page-title">Review your order</div>

  <div class="checkout-grid">
    <div class="order-summary js-order-summary">
    </div>

    <div class="payment-summary">
      <div class="payment-summary-title">
        Order Summary
      </div>

      <div class="payment-summary-row">
        <div class="items-count">Items ("{{total_cart_quantity|safe}}"):</div>
        <div class="payment-summary-money js-cart-price">{{cartPrice|safe}}MAD</div>
      </div>

      <div class="payment-summary-row">
        <div>Shipping &amp; handling:</div>
        <div class="shipping-value">0</div>
        <select class="shipping-option-dropdown js-shipping-option">
          <option value="20">RABAT-SALE-TEMARA Shipping</option>
          <option value="40">other city in morrocco Shipping</option>
        </select>
        
      </div>

      <div class="payment-summary-row total-row">
        <div>Order total:</div>
        <div class="payment-summary-money js-total-price"></div>
      </div>

      <button class="place-order-button button-primary">
        Place your order
      </button>
    </div>
  </div>
</div>
{% endblock navigation %}
{% block content%}
<script>
  var srcURL= "{% static ''%}";
  const productsINCart=JSON.parse("{{products_in_cart|safe|escapejs}}");
  const cartItems=JSON.parse("{{cart_items|safe|escapejs}}");
  const productsData= 1;
  console.log(cartItems)
</script>
<script type="module" src='{% static "scripts/checkout.js" %}'></script>
{% endblock %}

