{% extends "base.html" %}
{% load static %}
     
    {% block css %} 
        <link rel="stylesheet" href="{% static 'styles/mystyle/modal.css' %}">   
        <link rel="stylesheet" href="{% static 'styles/shared/amazon-header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/pages/amazon.css' %}">
    {% endblock %}
       
      {% block navigation %}
      <div class="amazon-header">
        <div class="amazon-header-left-section">
          <a href="/" class="header-link">
            <img class="amazon-logo"
              src="{% static 'images/amazon-logo-white.png' %}">
            <img class="amazon-mobile-logo"
              src="{% static 'images/amazon-mobile-logo-white.png' %}">
          </a>
        </div>
  
        <div class="amazon-header-middle-section">
          <input id="searchBar" class="search-bar" type="text" placeholder="Search">
  
          <button id="searchbarBT"class="search-button">
            <img class="search-icon" src="{% static 'images/icons/search-icon.png' %}">
          </button>
        </div>
  
        <div class="amazon-header-right-section">
          {%if user.is_authenticated %}
          <div class="home-profile-picture">
            <a href="{% url 'account' username=user.username %}">
                <img class="mini-profile-picture" src='/media/{{user.profile_picture}}'>  
            </a>
            <div>{{user.username}}</div>
            </div>
          {% else %}
          <span class="orders-link header-link js-link-to-modal">
            <span class="returns-text">LOGIN</span>  
          </span>
          {% endif %}
          
  
          <a class="cart-link header-link" href='cart'>
            <img class="cart-icon" src="{% static 'images/icons/cart-icon.png' %}">
            <div class="cart-quantity js-cart-quantity">{{total_cart_quantity|safe}}</div>
            <div class="cart-text">Cart</div>
          </a>
        </div>
      </div>
      {% endblock %}
      {% block content %}
      <div class="main">
        <div class="products-grid js-products-grid">
          <div class="product-container ads">
            ads
          </div>
        </div>
      </div>
      <div class="modal">
        <form class="modal-content animate" action="{% url 'sign_in' %}" method="POST">
          {% csrf_token %}
          <div class="imgcontainer">
            <span  class="close closs" title="Close Modal">&times;</span>
            <i class="fa-solid fa-user fa-xl"></i>
          </div>

          <div class="container">
            <label for="uname"><b>Username or email or phone</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required autocomplete="current-password">
              
            <button class="login-button" type="submit">Login</button>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn closs">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
            <span class="acc">Don't Have account <a href="/sign_up">create one?</a></span>
            
          </div>
        </form>
  </div>
      <script>
      var srcURL= "{% static ''%}";
      let productsData= JSON.parse("{{products|safe|escapejs}}");
      let usersData = JSON.parse("{{users|safe|escapejs}}");
      console.log(productsData);
      console.log(usersData);
    </script>
    <script type="module" src="{% static 'scripts/amazon.js' %}"></script> 
      {% endblock %}