
.mess-profile-picture{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 30px;
    border-radius: 8px;
}
.mess-profile-picture a {
    text-decoration: none;
    color: blanchedalmond;
}
.mini-profile-picture {
    height: 30px;
    width: 30px;
    border-radius:50%;
    border: 1px solid snow;
}
.macro-profile-picture{
    height: 200px;
    width: 200px;
    border-radius:50%;
    border: 1px solid rgb(0, 0, 0);
}


.hide{
    display: none;
}
.form{  
    width: calc(100% - 400px);
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: center;
    background: rgba(106, 255, 210, 0.165);
    backdrop-filter: blur(2px);
    z-index: 1;
    position:fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    

}
.form button{
    border-radius: 10%;
    border: 1px solid green;
    background-color: greenyellow;
    color: rgb(78, 78, 75);
    margin-bottom: 10px;
    padding: 5px;

}
.form-field input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}
.error{
    color: red;
}
.basic{
    padding: 15px;
    border: 1px solid snow;
    border-radius: 15px;
    background: linear-gradient(rgb(20, 211, 249), rgba(11, 43, 174, 0.368));
    width: 40%;
    text-wrap:wrap;
}
.custom-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header{
    height: 100vh;
    background: url('/static/images/used/info-back.jpg');
    background-position:center ;
    background-size: cover;
    z-index: -1;
}
.flex{
    display: flex;
}
.side-nav{
    height: 100%;
    width: 110px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(97, 236, 66, 0.3);
    backdrop-filter: blur(5px);
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.5s ease;
    z-index: 2;

}

ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
ul li .item {
    display: none;
}
.side-nav:hover{
    width: 250px;
}
.side-nav:hover .mess-profile-picture{
    width:100%;
    overflow:auto;
    justify-content: space-around;
    background: rgba(21, 233, 215, 0.367);
    backdrop-filter: blur(10px);
}
.side-nav:hover ul li .item{
    display: inline;
}
.param{
    border-radius: 12px;
    padding: 2px 3px;
    transition: 0.4s ease-in-out;
}
.selected{
    background: rgba(21, 233, 215, 0.819);
}

.param:hover{
    background: rgba(21, 233, 215, 0.819);
}



/*whatsappbuton___________________________________________________________________*/
.whatsapp-button {
    background-color: #25D366; /* WhatsApp green color */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Darker shade on hover */
}

/* Customize the icon styles */
.whatsapp-icon {
    margin-right: 8px;
}

/* ---------------------------------------------------------------------------------- */
.follow-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    border: 2px solid rgba(255, 250, 250, 0.311);
}


.follow-info a {
    text-decoration: solid;
    color: #fff;
}
.followers,.following{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 100px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5pxs; 
}

::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Set the color of the scrollbar thumb */
    border-radius: 8px; /* Set the border radius of the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f148; /* Set the color of the scrollbar track */
}

.follow-profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 25%;
    background-color: #25d35f27;
    width: 100%;
    padding: 8px 5px;
}


@media only screen and (max-width: 767px) {
    .form {
        width: 100%; /* Make the form take the full width on smaller screens */
    }

    .basic {
        width: 50%; /* Adjust the width of the basic container on smaller screens */
    }


    .side-nav {
        width: 10%; /* Make the side navigation take the full width on smaller screens */
    }

    /* ... (add more responsive styles as needed) ... */
}